<%=comment.commenter%>
<p>
  <%=comment.body%><br>
  <% if comment.user %>
    <%="by: #{comment.user.user_name}"%>
  <% else%>
    by: Anonymous
  <%end%>
</p>
<% if current_user == comment.user && current_user || current_user.try(:admin?)%>
  <%=link_to "Delete", [@post, comment], method: :delete, data:{confirm:"Are you sure"}%><br>
<%end%>
<%#=link_to "edit", edit_post_comment_path({post_id:@post.id})%>
