<div class="about-container">

      <%= image_tag 'arnaud.jpg'%>
      <h1>About me</h1>
      <p>
        Hi everyone, my name is Arnaud Gawinowski. I am french, I've been living in Washington
        state for three years now, and have a really wonderful family. I love my little Mikaela
        and hope she will grow to be a great human being. Apart from learning programming and web
        development, I love hiking, playing with my step kids and my baby, and spending time with
        my wife.

      </p>

      <p>
        I discovered that I really enjoyed programming when I started attending College a year and a half ago.
        I finally decided on which route to go with web development a little while ago, and started learning HTML
        CSS, Javascript, and Ruby on Rails. I find Ruby on Rails to be a truly amazing technology that I really enjoy
        learning even though I just started to wrap my head around its ways.
      </p>

      <p>
        My goal is to eventually create my own product. I know I need more knowledge and experience
        before that happens. That's why I spend a lot of time teaching myself Ruby on Rails and building
        this website and other small applications.
      </p>

</div>
