<div class="about-container">

      <%= image_tag 'arnaud.jpg'%>
      <h1>About me</h1>
      <p>
        Hi everyone, my name is Arnaud Gawinowski. I am french, I live in Washington
        state, and have a wonderful family. I love my little Mikaela and hope she will
        grow to be a great human being.

      </p>
      <p>

      </p>
</div>
