<h1 class="editor-title">Fun real time HTML editor</h1>
<div class="editor-container">
  <textarea class=editor placeholder="//your code goes here"></textarea>
  <span class="output"></span>

  <script>
    var text = "";
    $(".editor").on("input focus", function(){
      text = $(this).val();
      $(".output").html(text);
    });
  </script>
<div>
