@blue = #5792b8;
*{
  margin:0;
  padding:0;
}
html, body{
  position: absolute;
  left:0;
  top:0;
  margin:0;
  width:100%;
  height:100%;
  font-size:100%;
  font-family: Arial, sans-serif;
}
.page-header{
  height:70px;
  position:fixed;
  display:flex;
  background-color: #006699;
  width:100%;
  box-shadow: 0px 1px 7px #00111a;
  .title{
    padding:0;
    margin-top: calc(35px - 0.6em);
    font-size: 2em;
    padding-left: 0.5em;
    color:#00111a;//#092436;
  }
  .logo{
    height:100%;
  }
  .navigation{
    height:100%;
    position:absolute;
    right:0px;
    display:block;
    .menu{
      display:flex;
      list-style-type: none;
      height:100%;
      li{
        display: block;
        height: 100%;
        .nav-link{
          position:relative;
          font-size: 1em;
          display: block;
          height:calc(100% - 35px + 1em / 2);
          padding: calc(35px - 1em / 2) 15px 0px 15px;
          text-decoration: none;
          background: #006699;
          color:white;
          transition: 0.1s;
          &:hover{
            //background-color: #fff;//#092436;
            //background: white;//linear-gradient(to bottom, white,#006699);
            color:#00111a;
            //border-radius: 2px;
          }
        }

        .log-btn{
          background-color: #0083c4;
        }
      }
    }
  }
}
.main{
  padding-top:70px;
}

.blog{
  width:80%;
  margin:40px auto;
  .add-btn{
    margin:0px 20px;
    font-size: 4em;
    text-decoration:none;
    color:#0088cc;
    border-radius:5px;
    transition:color 0.2s;
    &:hover{
      color: #004466;
    }
  }
  .posts{
    width:98%;
    margin:20px auto;
    .post{
      padding:1em;
      background-color: #e6f7ff;
      border-radius:5px;
      margin-bottom:2em;
      .title{
        margin:10px 0px 20px 10px;
        font-size:2.5em;
        color:#006699;
      }
      .body{
        width:85%;
        padding: 10px 20px 10px 20px;
      }
      .flex-item{
        width:15%;
        a{
          margin:0;
          font-size: 1em;
          display: block;
          padding:5%;
          text-decoration:none;
          color:#006699;
          border-radius:5px;
          &:hover{
            background-color: #006699;
            color:white;
          }
        }
      }
    }
  }

}
.flex-box{
  display:flex;
}
.post{
  .title{
    margin:10px 0px 20px 0px;
    font-size:2.5em;
    color:#006699;
  }
  .body{
    width:85%;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    font-size: 1.1em;
  }
  .comments{
    .text-area{
      width:40%;
      height:100px;
    }
    .btn{
      outline:0px;
      border: 0px;
      padding:10px;
      font-size:1.1em;
      background-color: #006699;
      color:white;
      box-shadow: 1px 1px white, 2px 2px #006699;
      transition:background-color 0.3s;
      &:hover{
        background-color: #004466;
        cursor: pointer;
      }
    }
    .title{
      margin:30px 0px 0px 0px;
      font-size:2.5em;
      color:#006699;
    }
    .subtitle{
      color:#006699;
      margin:10px 0px 0px 0px;
      font-size:1.3em;
    }
    .comment{
      margin:20px;
      padding:10px;
      box-shadow:0px 0px 3px #006699;
    }
  }
}

.form{
  width:50%;
  margin:50px auto;
  text-align: center;
  .title{
      margin:10px 0px 0px 20px;
      font-size:2.5em;
      color:#006699;
      text-align: left;
  }
  .title2{
    margin-bottom:30px;
    font-size:2.5em;
    color:#006699;
  }
  .field-title{
    margin-bottom:0px;
    font-size:1.5em;
    color:#006699;
  }
  .text-field{
    margin-bottom: 20px;
    font-size: 1.1em;
    width:40%;
    color:#006699;
    border:0px;
    border-left: 2px solid #006699;
    border-bottom: 2px solid #006699;
    padding:0px 0px 5px 5px;
    &:focus{
      outline:0px;
      background-color: white;
    }
    &:active{
      outline:0px;
      background-color: white;
    }
  }
  .title-field{
    margin:10px auto 20px auto;
    font-size:2em;
    width:80%;
    color:#006699;
    border:0px;
    border-left: 2px solid #006699;
    border-bottom: 2px solid #006699;
    padding:0px 0px 5px 5px;
    &:focus{
      outline:0px;
    }
  }
  .text-area{
    width:100%;
    border:2px solid #006699;
    margin:10px auto;
    height:300px;
  }
  .btn{
    outline:0px;
    border: 0px;
    padding:10px;
    font-size:1.1em;
    background-color: #006699;
    color:white;
    box-shadow: 1px 1px white, 2px 2px #006699;
    transition:background-color 0.3s;
    &:hover{
      background-color: #004466;
      cursor: pointer;
    }
  }
}
