<footer class="general-footer">
  a.gawi2109@gmail.com <span class="space"></span>|<span class="space"></span>
  <a href="https://github.com/agawi"><span class="underline">github.com/agawi</span></a>
</footer>
